@font-face {
  font-family: "LINESeedSans";
  font-style: normal;
  font-weight: 100;
  src: url("./LINESeedSans_W_Th.woff") format("woff");
}

@font-face {
  font-family: "LINESeedSans";
  font-style: normal;
  font-weight: normal;
  src: url("./LINESeedSans_W_Rg.woff") format("woff");
}

@font-face {
  font-family: "LINESeedSans";
  font-style: normal;
  font-weight: 500;
  src: url("./LINESeedSans_W_Bd.woff") format("woff");
}

@font-face {
  font-family: "LINESeedSans";
  font-style: normal;
  font-weight: 600;
  src: url("./LINESeedSans_W_XBd.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: bold;
  src: url("./LINESeedSans_W_He.woff") format("woff");
}